.finder-grid {
    
    .shows-grid {
        @include sm {
            grid-template-columns: auto !important;
        }
        @include md {
            grid-template-columns: auto auto;
        }
        @include lg {
            grid-template-columns: auto auto auto auto;
        }
        @include xl {
            grid-template-columns: auto auto auto auto auto;
        }
    }

    .loading {
        display: inline-block !important;
        vertical-align: top;

        &-text { 
            margin-right: 18px;
            color: $scnColor;
        }
    }

    .finder {
        width:90%;
        margin: 5vh auto auto auto;
        text-align:center;
        
        /*   border radius */
        $radius: 0.2rem;
    
        *,
        *::before,
        *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        }
        .search {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        svg {
            position: absolute;
            cursor: pointer;
        }

        &__icon-container {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 5px;
            z-index: 99;
        }
    
        &__icon {
            position: absolute;
            top: 33%;
            left: 25%;
            height: 35%;
            fill: $scnColor;
            transition: 500ms fill ease-in-out, 500ms left ease-in-out;
        }
    
        &__delete {
            height: 30%;
            fill: $prmColor;
            right: -10%;
            opacity: 0;
            transition: 500ms opacity ease-in-out;
            pointer-events: none;
            z-index: 1;
        }
    
        input {
            position: relative;
            box-shadow: 0 0 5px 1px $scnColor;
            border: none;
            border-radius: 50%;
            padding: 16px 0;
            background-color: $prmColor;
            font-family: inherit;
            font-size: 1rem;
    
            color: black;
            outline: none;
            width: 50px;
            transition: 500ms box-shadow ease-in-out, 500ms background-color ease-in-out, 500ms width ease-in-out, 500ms padding ease-in-out,
            500ms border-radius ease-in-out;
    
            &:not(:placeholder-shown) ~ .search__delete {
                opacity: 1;
                pointer-events: all;
            }
    
        }
    
        //open state
        &-open input {  
            width: 100%;
            padding: 20px;
            border-radius: $radius;
            box-shadow: 0 0 5px 1px gray;
            background-color: lightgray;
            @include sm {
                padding-left: 70px !important;
            }
        }
    
        //when content is in text field show delete button
        &-open  {

            .search__icon-container {
                border-right: 1px solid $prmColor;
                padding-right: 50px;
                transition: border .5;
            }
    
            & svg{
                &.search{
                    &__close{
                        fill: black;
                    }
                    &__icon {
                        fill: $prmColor;
                    }
                }
            }
            }
        }
    
        .findBtn{
            opacity: 0;
            position: relative;
            transition: 500ms border-radius ease-in-out, 500ms padding ease-in-out;
            z-index: 0;
    
            &:after {
                content:"";
                position:absolute;
                height:18px;
                width:0;
                left:100%;
                top:0;
                border:19px solid transparent;
                border-left: 30px solid $scnColor;
                transform-origin: left;
                transform: scaleX(0);
                transition: 200ms transform ease-in-out, 500ms padding ease-in-out;
            }
    
            &:hover{
                padding: 0 0 0 0;
                border-radius: 0 0 0 0 !important;
                &:after{
                    transform: scaleX(1);
                    transition: 500ms transform ease-in-out, 500ms padding ease-in-out;
                    transition-delay: .2s;
                }  
            } 
     
        }
    
    }
}
