@font-face {
  font-family: "Sunday";
  src: url("../assets/Sunday.woff2") format("woff2"), url("../assets/Sunday.woff") format("woff");
}

body {
  background-color: #424242;
  font-family: "Sunday";
  color: white;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.bottom-tile {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4vh;
  background-color: #e6cc00;
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.bottom-tile div {
  position: inherit;
  bottom: 5px;
  right: 12px;
}

.bottom-poly {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 4vh;
  fill: #e6cc00;
}

.bottom-poly-2 {
  bottom: 4vh;
}

@media (max-width: 700px) {
  .finder-grid .shows-grid {
    -ms-grid-columns: auto !important;
        grid-template-columns: auto !important;
  }
}

@media (max-width: 1250px) {
  .finder-grid .shows-grid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (min-width: 2100px) {
  .finder-grid .shows-grid {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 2500px) {
  .finder-grid .shows-grid {
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
  }
}

.finder-grid .loading {
  display: inline-block !important;
  vertical-align: top;
}

.finder-grid .loading-text {
  margin-right: 18px;
  color: #e6cc00;
}

.finder-grid .finder {
  width: 90%;
  margin: 5vh auto auto auto;
  text-align: center;
  /*   border radius */
}

.finder-grid .finder *,
.finder-grid .finder *::before,
.finder-grid .finder *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.finder-grid .finder .search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finder-grid .finder .search svg {
  position: absolute;
  cursor: pointer;
}

.finder-grid .finder .search__icon-container {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 5px;
  z-index: 99;
}

.finder-grid .finder .search__icon {
  position: absolute;
  top: 33%;
  left: 25%;
  height: 35%;
  fill: #e6cc00;
  -webkit-transition: 500ms fill ease-in-out, 500ms left ease-in-out;
  transition: 500ms fill ease-in-out, 500ms left ease-in-out;
}

.finder-grid .finder .search__delete {
  height: 30%;
  fill: #424242;
  right: -10%;
  opacity: 0;
  -webkit-transition: 500ms opacity ease-in-out;
  transition: 500ms opacity ease-in-out;
  pointer-events: none;
  z-index: 1;
}

.finder-grid .finder .search input {
  position: relative;
  -webkit-box-shadow: 0 0 5px 1px #e6cc00;
          box-shadow: 0 0 5px 1px #e6cc00;
  border: none;
  border-radius: 50%;
  padding: 16px 0;
  background-color: #424242;
  font-family: inherit;
  font-size: 1rem;
  color: black;
  outline: none;
  width: 50px;
  -webkit-transition: 500ms background-color ease-in-out, 500ms width ease-in-out, 500ms padding ease-in-out, 500ms border-radius ease-in-out, 500ms -webkit-box-shadow ease-in-out;
  transition: 500ms background-color ease-in-out, 500ms width ease-in-out, 500ms padding ease-in-out, 500ms border-radius ease-in-out, 500ms -webkit-box-shadow ease-in-out;
  transition: 500ms box-shadow ease-in-out, 500ms background-color ease-in-out, 500ms width ease-in-out, 500ms padding ease-in-out, 500ms border-radius ease-in-out;
  transition: 500ms box-shadow ease-in-out, 500ms background-color ease-in-out, 500ms width ease-in-out, 500ms padding ease-in-out, 500ms border-radius ease-in-out, 500ms -webkit-box-shadow ease-in-out;
}

.finder-grid .finder .search input:not(:placeholder-shown) ~ .search__delete {
  opacity: 1;
  pointer-events: all;
}

.finder-grid .finder .search-open input {
  width: 100%;
  padding: 20px;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 0 5px 1px gray;
          box-shadow: 0 0 5px 1px gray;
  background-color: lightgray;
}

.finder-grid .finder .search-open .search__icon-container {
  border-right: 1px solid #424242;
  padding-right: 50px;
  -webkit-transition: border .5;
  transition: border .5;
}

.finder-grid .finder .search-open svg.search__close {
  fill: black;
}

.finder-grid .finder .search-open svg.search__icon {
  fill: #424242;
}

.finder-grid .finder .findBtn {
  opacity: 0;
  position: relative;
  -webkit-transition: 500ms border-radius ease-in-out, 500ms padding ease-in-out;
  transition: 500ms border-radius ease-in-out, 500ms padding ease-in-out;
  z-index: 0;
}

.finder-grid .finder .findBtn:after {
  content: "";
  position: absolute;
  height: 18px;
  width: 0;
  left: 100%;
  top: 0;
  border: 19px solid transparent;
  border-left: 30px solid #e6cc00;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 500ms padding ease-in-out, 200ms -webkit-transform ease-in-out;
  transition: 500ms padding ease-in-out, 200ms -webkit-transform ease-in-out;
  transition: 200ms transform ease-in-out, 500ms padding ease-in-out;
  transition: 200ms transform ease-in-out, 500ms padding ease-in-out, 200ms -webkit-transform ease-in-out;
}

.finder-grid .finder .findBtn:hover {
  padding: 0 0 0 0;
  border-radius: 0 0 0 0 !important;
}

.finder-grid .finder .findBtn:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 500ms padding ease-in-out, 500ms -webkit-transform ease-in-out;
  transition: 500ms padding ease-in-out, 500ms -webkit-transform ease-in-out;
  transition: 500ms transform ease-in-out, 500ms padding ease-in-out;
  transition: 500ms transform ease-in-out, 500ms padding ease-in-out, 500ms -webkit-transform ease-in-out;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.show-card:last-child {
  margin-bottom: 100px !important;
}

.show-card-content {
  max-height: 417px;
  padding-bottom: 15%;
}

.show-card-content h4 {
  background-color: #e6cc00;
  color: #424242;
  padding: 10px 0;
  margin-top: 0;
}

.show-card-content .bottom-poly {
  bottom: 0;
}

.show-card-content .bottom-poly text {
  font-weight: bold;
  fill: #424242;
}

.show-card-content .bottom-poly .rating {
  fill: red;
  scale: .9;
}

.show-card-content img {
  border: 5px inset #e6cc00;
}
/*# sourceMappingURL=style.css.map */